html, body {
    height: 100%;
    margin: 0;
    background: #5b507e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5b507e, #5b507e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5b507e, #5b507e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

 h1 { 
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 100px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center;
}

  #thread {
    position: fixed;
    top: 50px;
    left: 14px;
    right: 14px;
    bottom: 100px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 50px;
    
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: stretch;
    align-items: stretch;
  }
  
  .sidebar { flex: 1; }
  .main    { flex: 7; }
  
  .flex-item {
    background: #FFCD66;
    padding: 10px;
    width: 100px;
    border: 1px solid rgba(0,0,0,.2);
    
    color: #5B507E;
    font-weight: bold;
    font-size: 1.6em;
    text-align: center;
  }

.message {
    border-bottom: 1px solid #efefef;
    position: relative;
}

.message h2 {
    background: #efefef;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100px;
    text-align: right;
    border-right: 1px solid #ccc;
}

.message p {
    font-size: 12px;
    padding: 5px;
    margin: 0 0 0 110px;
}

.message.you * {
    background: #FFFFCC;
}

.message.notice * {
    background: #D9E7FB;
}

.message.important * {
    background: #c00;
    color: #fff;
}

.message.notice h2 {
    visibility: hidden;
}

.message.notice p {
    margin: 0;
    padding-left: 115px;
}


#newMessage {
    position: fixed;
    left: 14px;
    right: 14px;
    bottom: 30px;
    height: 30px;
}

#newMessage #message {
    min-width: 95%;
    padding: 5px;
} 