{{set . "title" "Chat room"}}
{{template "header.html" .}}

<div class="chat">
 <div id="thread">
    <div class="chat-title">
      <h1> {{.user}}</h1>
      <h2><a id="leave" href="/">Leave the chat room</a></h2>
    </div>
    <div class="messages">
      <div class="messages-content">
        <script type="text/html" id="message_tmpl">
            {{raw "<%"}} if(event.Type == 'message') { %>
          <div class="message <%= event.User == '{{.user}}' ? 'personal' : 'new' %>">
            <h2>{{raw "<%"}}= event.User %></h2>
             <p>
                {{raw "<%"}}= event.Text %>
             </p>
          </div>
            {{raw "<%"}} } %>
            {{raw "<%"}} if(event.Type == 'join') { %>
          <div class="message new">
                ::before
                {{raw "<%"}}= event.User %> joined the room
            <div class="timestamp">13:13</div>
          </div>
            {{raw "<%"}} } %>
            {{raw "<%"}} if(event.Type == 'leave') { %>
          <div class="message message-personal new">
              
                  {{raw "<%"}}= event.User %> left the room
              
          </div>
            {{raw "<%"}} } %>
            {{raw "<%"}} if(event.Type == 'quit') { %>
          <div class="message important">
              <h2></h2>
              <p>
                You are now disconnected!
              </p>
          </div>
            {{raw "<%"}} } %>
        </script>
      </div>
    </div>
  </div>

  <div class="message-box" id="newMessage">
    <textarea type="text" class="message-input" id="message" placeholder="Type message..."></textarea>
    <button type="submit" value="send" id="send" class="message-submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
  </div>
</div>
<div class="bg"></div>

<script type="text/javascript">

  // Create a socket
  var socket = new WebSocket('ws://'+window.location.host+'/websocket/room/socket?user={{.user}}')

  var $messages = $('.messages-content'),
    d, h, m,
    i = 0;

  $(window).load(function() {
    $messages.mCustomScrollbar();
    setTimeout(function() {
      fakeMessage();
    }, 100);
  });

  // Display a message
  var display = function(event) {
    $('#thread').append(tmpl('message_tmpl', {event: event}));
    $('#thread').scrollTo('max')
  }

  // Message received on the socket
  socket.onmessage = function(event) {
    display(JSON.parse(event.data))
  }

  $('#send').click(function(e) {
    var message = $('#message').val()
    $('#message').val('')
    socket.send(JSON.stringify(message))
  });

  $('#message').keypress(function(e) {
    if(e.charCode == 13 || e.keyCode == 13) {
      $('#send').click()
      e.preventDefault()
    }
  })

</script>
