{{set . "title" "Sign in"}}
{{template "headerIndex.html" .}}


<div class="wrapper fadeInDown">

  <div class="form-group" id="formContent">
    <form action="{{url "Application.EnterDemo"}}">
      {{if .flash.error}}
        <p class="error">
          {{.flash.error}}
        </p>
      {{end}}
        <input type="text" name="user" id="user" class="fadeIn second" placeholder="Choose a nick name" name="nick" required>
        <input type="text" name="phone" id="phone" class="fadeIn third" placeholder="Enter your phone number" required>
        <input type="submit" id="enter" class="fadeIn fourth" value="Enter the chat room">
    </form>
  </div>

</div>
{{template "footer.html" .}}
