{{set . "title" "Sign in"}}
{{template "header.html" .}}

<div id="home">

  <h2>The Chat demonstration (from Play!)</h2>

  <div class="form-group" id="signin">
    <form action="{{url "Application.EnterDemo"}}">
      {{if .flash.error}}
        <p class="error">
          {{.flash.error}}
        </p>
      {{end}}
      <p>
        <label for="nick">Choose a nick name</label>
        <input class="form-control" type="text" name="user" id="user" placeholder="Enter username" name="nick" required>
      </p>
      <p>
        <label for="tel">Enter your phone number</label>
        <input class="form-control" type="tel" name="phone" id="phone" placeholder="Enter phone number" required>
      </p>
      <!-- <p>
        <label for="nick">Demonstration</label>
        <select name="demo">
          <option></option>
          <option value="refresh">Ajax, active refresh</option>
          <option value="longpolling">Ajax, long polling</option>
          <option value="websocket">WebSocket</option>
        </select>
      </p> -->
      <p>
        <label></label>
        <input type="submit" class="btn btn-primary" id="enter" value="Enter the chat room">
      </p>
    </form>
  </div>

</div>
{{template "footer.html" .}}
